 .button {
     padding: 10px 20px;
     font-size: 20px;
     text-align: center;
     cursor: pointer;
     outline: none;
     color: #fff;
     background-color: #071739;
     border: none;
     border-radius: 10px;
     box-shadow: 0 5px #255d83;
 }
 
 .button:hover {
     background-color: #274684;
 }
 
 .button:active {
     background-color: #274684;
     box-shadow: 0 5px #666;
     transform: translateY(4px);
 }
 
 * {
     box-sizing: border-box;
 }
 
 .container1 {
     position: relative;
     width: 100%;
     max-width: 350px;
 }
 
 .overlay {
     position: absolute;
     bottom: 0;
     background: rgb(0, 0, 0);
     background: rgba(0, 0, 0, 0.5);
     /* Black see-through */
     color: #f1f1f1;
     width: 100%;
     transition: .5s ease;
     opacity: 0;
     color: white;
     font-size: 20px;
     padding: 20px;
     text-align: center;
 }
 
 .container1:hover .overlay {
     opacity: 1;
 }
 
 .row {
     display: -ms-flexbox;
     /* IE 10 */
     display: flex;
     -ms-flex-wrap: wrap;
     /* IE 10 */
     flex-wrap: wrap;
     padding: 0 4px;
     margin-left: 10px;
 }
 /* Create two equal columns that sits next to each other */
 
 .column {
     -ms-flex: 50%;
     /* IE 10 */
     flex: 30%;
     padding: 0 4px;
     margin-left: 20px;
 }
 
 .column img {
     margin-top: 8px;
     vertical-align: middle;
 }